html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
}

.base {
    background: #aeaeae;
    width: 72.5%;
    min-height: 93.33%;
    padding: 12px;
    border-radius: 12px;
    margin: auto;
    gap: 12px;
    display: flex;
    flex-direction: column;
}

.chart-container {
    width: 100%;
    height: 720px;
    background: white;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.settings {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.settings > * {
    border-radius: 12px;
    padding: 12px;
    border: 1px solid black;
}

#chart {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    overflow: hidden;
}

.d-flex {
    display: flex;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-shrink-0 {
    flex-shrink: 0;
}